.background {
  background-color: #fafafa;
  height: 100vh;
}
.profile__wrap {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
}
.profile__details {
  position: fixed;
  display: flex;
  transform: translate(600px, 250px);
  font-size: 15px;
  justify-content: space-between;
}
.profile__name {
  transform: translate(610px, 130px);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}
.user__image {
  transform: translate(380px, 90px);
  height: 190px;
  width: 190px;
  position: fixed;
}
.no__followers {
  margin-left: 70px;
  margin-right: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.no__following {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.no__posts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.gallery__wrap {
  border-top: 2px solid lightgray;
  display: flex;

  background-color: #fafafa;
  transform: translate(250px, 350px);
  max-width: 1000px;

  flex-wrap: wrap;
}
.gallery__wrap * {
  height: 300px;
  width: 300px;
  border: 1px solid lightgray;
  margin-left: 25px;
  object-fit: cover;
  margin-top: 20px;
}
.line {
  height: 2px;
  width: 1000px;
  background-color: black;
  position: fixed;
}

.image1:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 427px) {
  .profile__wrap {
    transform: translateX(0px);
  }
  .no__following {
    font-size: 12px;
  }
  .no__posts {
    font-size: 12px;
  }
  .no__followers {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
  }
  .gallery__wrap * {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100px;
    margin-left: 10px;
  }
  .gallery__wrap {
    transform: translate(100px, 300px);
  }
  .profile__wrap {
    transform: translateX(-100px);
  }
  .profile__details {
    left: -450px;
  }

  .profile__name {
    font-size: 20px;
    margin-left: -100px;
    left: -250px;
  }
  .user__image {
    height: 100px;
    width: 100px;
    left: -250px;
  }
}
